* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial, sans-serif";
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #a51717;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  background-color: #8dc9f1;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex: 1;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #072a41;
}

main {
  padding: 1rem;
}

main section {
  margin-bottom: 2rem;
  background: #fff;
  /* padding: 1rem; */
  border-radius: 5px;
}

main section h2 {
  margin-top: 0;
}

main section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.2rem 0;
}

main section table th,
main section table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: center;
}

main section table tr.highlight {
  background-color: #ffdddd;
}

main section input[type=month] {
  padding: 0.5rem;
  margin-right: 1rem;
}

main section button {
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

main section button:hover {
  /* background-color: #25a25a; */
}

.section-content {
  display: none;
}

.active-section {
  display: block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: #333;
}

nav ul li a.active {
  background-color: #072a41;
  color: #fff;
  border-radius: 5px;
}

input.error {
  background-color: #ffcccc;
  /* Màu đỏ nhạt */
  /* border: 1px solid red; */
}

/* Các style chung */
.section-content {
  display: none;
}

.active-section {
  display: block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: #333;
}

nav ul li a.active {
  background-color: #072a41;
  color: #fff;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table,
th,
td {
  /* border: 1px solid #ddd;
  text-align: center;
  padding: 8px; */
}

#mobile-btn {
  display: flex;
  justify-content: end;
  height: 50px;
}

#mobile-btn button {
  margin-left: 10px;
}

.warning {
  background-color: rgb(218, 218, 13);
  color: #333;
}

.danger {
  background-color: red;
}

.custom-disabled {
  background-color: #fff !important;
}

.active-household {
  color: blue !important;
  font-weight: bold;
}

.submit-bills {
  display: none;
}

label {
  font-weight: bold !important;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#bill-month {
  width: 55%;
}

.py-10px {
  transform: translateY(-10px);
}

.non-custom-disable {
  background-color: #e6e6e6 !important;
}

.w50 {
  width: 48%;
}

.main-border {
  border-radius: 3px;
  border: solid 2px;
  padding: 0 0.5rem;
  margin-bottom: 10px;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(231, 225, 225, 0.8);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}

.save-button {
  display: none;
}

[type=text] {
  color: #333 !important;
}

/* Responsive Table */
@media only screen and (max-width: 768px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    /* padding: 10px; */
    border-radius: 5px;
  }

  td {
    position: relative;
    padding-left: 50%;
    border: none;
    border-bottom: 1px solid #eee;
    text-align: left !important;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  /* Chỉnh sửa input trong td khi mobile */
  td input {
    width: 60% !important;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
  }

  main section table td {
    position: relative;
    width: 100%;
    height: 40px;
  }

  [type=text] {
    height: auto !important;
  }
}

/*# sourceMappingURL=styles.css.map */